<footer class="kahve-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <span class="footer-logo">KAHVE</span>
      <p>{{ 'footer.description' | t }}</p>
    </div>

    <div class="footer-links">
      <div>
        <h4>{{ 'footer.shop' | t }}</h4>
        <a [routerLink]="['/home']" fragment="newArrivals">{{ 'nav.products' | t }}</a>
        <a [routerLink]="['/cart']">{{ 'footer.cart' | t }}</a>
        <a [routerLink]="['/orders']">{{ 'nav.orders' | t }}</a>
      </div>
      <div>
        <h4>{{ 'footer.brand' | t }}</h4>
        <a [routerLink]="['/aboutUs']">{{ 'footer.aboutUs' | t }}</a>
        <a [routerLink]="['/contactUs']">{{ 'nav.contact' | t }}</a>
        <a [routerLink]="['/home']">{{ 'nav.home' | t }}</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span>{{ 'footer.copyright' | t }}</span>
    <span class="footer-socials">
      <a href="https://www.instagram.com/kahve.eg?igsh=MWlraWpyanI0c3pibw==" target="_blank" rel="noopener noreferrer" aria-label="KAHVE Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/share/18mgNjbhP8/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" aria-label="KAHVE Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <i class="fa-solid fa-mug-hot"></i>
    </span>
  </div>
</footer>
